* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// ------------------- VARIABLES -------------------

$var: 100%;
$m-10: 10px;
$p-20: 20px;

$cyan: #297373;
$blanco: white;
$rojo: #fb625d;
$grisclaro: #f8f9fa;
$grisoscuro: #49485c;
$grisborde: #e7e9ee;

$poppins: 'Poppins',
sans-serif;
$firasans: 'Fira Sans',
sans-serif;


// ------------------- BODY -------------------

body {
    font-size: 16px;
    font-family: $poppins;
    color: $grisoscuro;
}

// ------------------- HEADER -------------------

header {
    height: auto;
}

// ------------------- FOOTER -------------------

footer {
    font-family: $poppins;
    font-size: 14px;
    background-color: $cyan;
    color: $blanco;
}

.footerContenido {
    width: 100%;
    height: auto;
}

.titulosFooter {
    color: $blanco;
    font-size: 20px;
}

.logoFooter {
    width: 150px;
}

.descripcionFooter {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.uneteFooter {
    font-size: 16px;
    font-weight: bold;
    color: $rojo;
}

.uneteFooter:hover {
    color: $blanco;
}

.redesSocialesFooter {
    height: auto;
}

.redSocial:hover {
    transform: scale(1.1);
    filter: brightness(75%);
    transition: linear 0.1s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: redes;
}

.logosRedes {
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.newsletterFooter {
    height: auto;
}

#newsletter {
    width: 300px;
    height: 44px;
    border-radius: 0.5rem;
    font-size: larger;
}

// ------------------- NAVBAR -------------------

#containerNav {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar {
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

#navbarSupportedContent ul li a:hover {
    color: $rojo;
}

.logoMenu {
    height: 40px;
    grid-area: logo;
    margin-top: 6px;
    margin-left: 15px;
}

// ------------------- END NAVBAR -------------------

.container-fluid {
    padding: 0;
}

h2 {
    font-family: $firasans;
    text-align: center;
    color: $grisclaro;
    font-size: 48px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

.tituloSecciones {
    text-align: left;
}

.botonGrande {
    width: 376px;
    height: 60px;
    border-radius: 22px;
    border: $rojo solid 2px;
    font-size: 16px;
    font-family: $poppins;
    background-color: $blanco;
    color: $rojo;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;
}

.botonGrande:hover {
    background-color: $rojo;
    border: 2px solid $rojo;
    color: $blanco;
}

.botonPequeño {
    @extend .botonGrande;
    width: 100px;
    height: 30px;
    font-size: 12px;
}

.botonPequeño:hover {
    @extend .botonGrande:hover;
}

/* ---------- MAIN ---------- */

.botonWhatsapp {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.5s;
    z-index: 2;
}

.botonWhatsapp:hover {
    transform: rotate(360deg)
}

// ------------------- INDEX PORTADA -------------------

.portada {
    background-image: url(img/header7a.png);
    overflow: hidden;
    position: relative;
    height: 91vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    z-index: 1;

    h1 {
        top: 85%;
        position: absolute;
        left: 45%;
        font-size: 22px;
        font-family: $poppins;
        color: $blanco;
    }
}

// ------------------- INDEX SECCION 2 VENTAJAS Y RESERVA -------------------

.indexSeccion2 {
    width: 100%;
    height: auto;
}

.ventajaServicio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenidoVentajas {
    padding-left: 5vh;
}

.reservaIndex {
    width: 550px;
    height: auto;
    text-align: center;
    background-color: $rojo;
    padding-bottom: 40px;
    color: $blanco;
    padding-top: 140px;
    top: -115px;
}

.h3Reserva {
    color: $blanco;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding-bottom: 5px;
}

.parrafoReserva {
    width: ($var/2)+10;
    text-align: center;
    margin-left: 20%;
    padding-bottom: ($p-20)-5;
    font-style: italic;
}

.botonReserva {
    margin-top: 40px;
}

.botonReserva:hover {
    border: 2px solid $blanco;
}

.form {
    height: 60px;
    margin-bottom: 20px;
}

// ------------------- INDEX SECCION 3 SERVICIOS -------------------

.tratamientos {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: $grisclaro;
    top: -115px;
    position: relative;
}

.tratamientos h2 {
    color: $grisoscuro;
}

.indexManos {
    background-image: url(img/hands.jpg);
    overflow: hidden;
    position: relative;
    height: 401px;
    width: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;

    h3 {
        margin-top: 350px;
        color: $blanco;
    }

    p {
        text-align: center;
        margin-top: 200px;
        margin-right: 60px;
        margin-left: 60px;
        color: $blanco;
    }

    a {
        text-align: center;
        color: $blanco;
        padding-bottom: 30px;
        text-decoration: underline;
        font-weight: bold;
    }
}

.indexManos:hover .overlay {
    height: 100%;

    h3 {
        padding-top: 30px;
        margin-top: 0;
    }

    p {
        margin-top: 0;
    }

    a {
        padding-bottom: 30px;
        margin-top: 0;
    }
}

.indexPies {
    @extend .indexManos;
    background-image: url(img/FotoPies.jpg);

    h3 {
        margin-top: 350px;
        color: $blanco;
    }

    p {
        text-align: center;
        margin-top: 200px;
        margin-right: 60px;
        margin-left: 60px;
        color: $blanco;
    }

    a {
        text-align: center;
        color: $blanco;
        padding-bottom: 30px;
        text-decoration: underline;
        font-weight: bold;
    }
}

.indexPies:hover .overlay {
    height: 100%;

    h3 {
        padding-top: 30px;
        margin-top: 0;
    }

    p {
        margin-top: 0;
    }

    a {
        padding-bottom: 30px;
        margin-top: 0;
    }
}

.overlay {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(251, 98, 93, 0.7);
    overflow: hidden;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

// ------------------- INDEX SECCION 4 TESTIMONIOS Y ESTADISTICAS -------------------

#indexSeccion4 {
    width: 100%;
    margin-bottom: 65px;
}

.h2Gris {
    color: $grisoscuro;
}

// ------------------- TESTIMONIOS -------------------

#testimonial {
    padding: 55px 0px 20px;
    color: #999;
    background-color: $blanco;
}

#testimonial h2 {
    font-style: italic;
    color: #7f6a93;
    font-size: 26px;
    text-align: center;
}

#testimonial .client-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid #fff;
    margin: 0px auto;
    border-radius: 100%;
    position: absolute;
    left: -10px;
    top: 3px;
}

#testimonial .carousel-content {
    padding: 20px 0px 20px 100px;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

#testimonial h3 {
    font-size: 17px;
    color: #7f6a93;
    margin-bottom: 30px;
    font-style: italic;
    text-align: right;
}

#testimonial p {
    font-size: 15px;
}

#testimonial .client-img img {
    width: 100%;
}

#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    font-size: 36px;
}

@media (max-width: 576px) {
    #testimonial .carousel-content {
        padding: 20px 0px 20px 0px;
        width: 100%;
    }

    #testimonial .client-img {
        margin: 20px auto;
        position: static;
    }

    #testimonial h3,
    #testimonial p {
        text-align: center;
    }
}

// ------------------- END TESTIMONIOS -------------------

// ------------------- ESTADISTICAS -------------------

.estadisticaColor {
    text-align: center;
    background-color: #3acf87;
    width: 270px;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid $grisborde;

    h2 {
        color: $blanco;
    }

    p {
        color: $blanco;
        font-size: 18px;
    }
}

.estadisticaEstilo {
    @extend .estadisticaColor;
    background-color: #f6f6f6;

    h2 {
        color: #666;
    }

    p {
        color: #909090;
        font-size: 18px;
    }
}

// ------------------- INDEX SECCION 5 NEGOCIO UNETE COMO GURÚ -------------------

.negocio {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $grisclaro;

    h2 {
        color: $grisoscuro;
    }
}

.ventajaGuru {
    width: 22%;
    height: auto;
    text-align: center;
}

.imagenGuru {
    padding-bottom: 20px;
}

.divBotonUnete {
    text-align: center;
    margin-bottom: 70px;
}

// ------------------- PESTAÑA PERFIL -------------------

.perfilColor {
    background-color: $rojo;
}

.h2Perfil {
    padding-left: 0;
    padding-right: 0;
    color: $blanco;
}

.conjuntoMiCuenta {
    padding: 0;
}

.h3Form {
    padding-top: ($p-20)-5;
    padding-bottom: ($p-20)+10;
}

.formularioMiCuenta {
    background-color: $blanco;
    border: 1px solid $grisborde;
    margin-bottom: 70px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.genero {
    text-align: left;
}

.botonPerfilGuardar {
    margin-top: $m-10*2;
    margin-right: $m-10*2;
    width: 96px;
}

.botonPerfilEditar {
    @extend .botonPerfilGuardar;
    margin-right: 0px;
    margin-left: $m-10*2;
}

.reservasMiCuenta {
    width: 100%;
    height: 350px;
    background-color: $blanco;
    border: 1px solid $grisborde;
    padding-top: 50px;
    padding-bottom: 60px;
}

.bold {
    font-weight: bold;
}

// ------------------- PESTAÑA SERVICIOS -------------------

.mainTratamientos {
    background-color: $blanco;
}

.h2Tratamientos {
    color: $cyan;
    padding-top: 20px;
}

.botonReservaServicios {
    @extend .botonGrande;
    width: 80%;
    height: 50px;
    margin-left: 10%;
}

.botonReservaServicios:hover {
    @extend .botonGrande:hover;
}

// ------------------- SECCION BELLEZA DE MANOS -------------------

#bellezaManos {
    height: auto;
    margin-top: 5vh;
    padding-bottom: 10vh;
}

.encabezadoM {
    width: 95%;
    height: auto;
    line-height: 4vh;
    padding: 0;
}

.opcionesManos {
    padding: 0;
}

.opcionManos {
    width: 315px;
    height: 575px;
    border: 1px solid $grisborde;
    background-color: $blanco;
    transition: all 0.2s;
    margin-top: 40px;
    padding: 0;
}

.opcionManos:hover {
    transform: scale(1.02);
}

.ilustracionManos1 {
    width: 100%;
    height: 200px;
    background-image: url(img/manosexpress.jpg);
    background-size: cover;
    background-position-y: 60%;
    margin-bottom: 25px;
}

.ilustracionManos2 {
    @extend .ilustracionManos1;
    background-image: url(img/manosclasica.jpg);
}

.ilustracionManos3 {
    @extend .ilustracionManos1;
    background-image: url(img/spadelujo.jpg);
}

.ilustracionManos4 {
    @extend .ilustracionManos1;
    background-image: url(img/manossemipermanente.jpg);
}

.ilustracionManos5 {
    @extend .ilustracionManos1;
    background-image: url(img/manosgel.jpg);
}

.ilustracionManos6 {
    @extend .ilustracionManos1;
    background-image: url(img/manosesculpidas.jpg);
}

.opcionManos ul {
    list-style-type: none;
}

.informacionManos {
    width: 90%;
    height: 285px;
    padding-left: 8%;
}

.infoMargin {
    margin-bottom: 5%;
}

// ------------------- SECCION BELLEZA DE PIES -------------------

#servicioPies {
    padding-top: 90px;
    margin-bottom: 70px;
}

#bellezaPies {
    height: auto;
}

.encabezadoP {
    @extend .encabezadoM;
}

.opcionesPies {
    padding: 0;
}

.opcionPies {
    @extend .opcionManos;
}

.opcionPies:hover {
    transform: scale(1.02);
}

.ilustracionPies1 {
    @extend .ilustracionManos1;
    background-image: url(img/piesbasica.jpg);
}

.ilustracionPies2 {
    @extend .ilustracionManos1;
    background-image: url(img/spapies.jpg);
}

.ilustracionPies3 {
    @extend .ilustracionManos1;
    background-image: url(img/piessemipermanente.jpg);
}

.ilustracionPies4 {
    @extend .ilustracionManos1;
    background-image: url(img/piesnoesmalte.jpg);
}

.informacionPies {
    @extend .informacionManos;
}

.informacionPies ul {
    list-style-type: none;
}

// ------------------- PESTAÑA UNETE COMO GURÚ -------------------

.guru {
    background-color: $blanco;
}

.portadaGuru {
    height: 91vh;
    width: 100%;
    position: relative;
}

video {
    object-fit: cover;
    height: 91vh;
    width: 100%;
}

.tituloGuru {
    position: relative;
    text-align: center;
    z-index: 3;
    color: $blanco;
    top: -500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtituloGuru {
    @extend .tituloGuru;
    border: 2px solid $blanco;
    font-size: 22px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subtituloGuru:hover {
    background-color: $blanco;
    color: $grisoscuro;
    transition: 0.5s;
}

.leerMas:hover {
    text-decoration: none;
}

.layer {
    position: absolute;
    width: 100%;
    height: 91vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.contenedorGuru {
    padding-top: 50px;
}

.requisitosGuru {
    list-style: inside number;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-secondary {
    background-color: $grisclaro;
    border: 2px solid $grisclaro;
    color: $grisoscuro;
    transition: all 0.5s;
    width: 180px;
}

.btn-secondary:hover {
    background-color: $rojo;
    border: 2px solid $rojo;
}

.hiddenCheckbox {
    display: none;
}

.hiddenRadio {
    display: none;
}

.botonGuru {
    margin-top: 20px;
    margin-bottom: 60px;
}

.appFoto {
    text-align: center;
    height: 947px;
    height: 1089.9px;
    background-image: url(img/phone7.png);
    background-size: cover;
    background-position: center;
}

// ------------------- PESTAÑA CONTACTO -------------------

.contacto {
    background-color: $rojo;
}

.tituloContacto {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    color: $blanco;
}

.conjuntoContacto {
    background-color: $blanco;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.botonContacto {
    @extend .botonGrande:hover;
    transition: all 0.5s;
}

.botonContacto:hover {
    filter: brightness(80%);
    color: $blanco;
}

.mapa {
    width: 100%;
}

.seccionMapa ul li {
    list-style-type: none;
}

.marginFooterContacto {
    margin-top: 70px;
}

// ---- PESTAÑA REGISTRATE ----

.pRegistrate {
    color: #9e9e9e;
}

#terminos {
    width: 20px;
    height: 20px;
}

.condiciones {
    font-size: 13px;
    text-align: left;
}

.politicas {
    color: $grisoscuro;
    font-weight: bold;
}

.politicas:hover {
    color: $grisoscuro;
}

// ------------------- MEDIA QUERIES -------------------

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    // ---- PORTADA INDEX ----
    .portada {
        background-image: url(img/header5a.png);
        height: 50vh;

        h1 {
            top: 92%;
            left: 43%;
            font-size: 13.5px;
        }
    }

    // ---- INDEX SECCION 2 VENTAJAS Y RESERVA ----

    .reservaIndex {
        top: 0px;
        padding-top: 50px;
    }

    // ---- INDEX SECCION 3 SERVICIOS ----

    .tratamientos {
        top: 0px;
    }

    // ---- INDEX SECCION 4 TESTIMONIOS Y ESTADISTICAS ----

    #indexSeccion4 {
        margin-top: 50px;
    }

    // ---- INDEX SECCION 5 NEGOCIO ----

    .ventajaGuru {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding-bottom: 25px;
    }

    .contenidoVentajaGuru {
        padding-left: 5vh;
    }

    .divBotonUnete {
        margin-top: -25px;
    }

    // ---- PESTAÑA NEGOCIO GURU ----

    .tituloGuru {
        top: -500px;
    }

    .appFoto {
        display: none;
    }

    // ---- PESTAÑA CONTACTO ----

    .seccionMapa {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .botonWhatsapp {
        width: 60px;
        height: 60px;
    }

    // ---- PORTADA INDEX ----

    .portada {
        background-image: url(img/header5mobile.png);
        height: 80vh;

        h1 {
            top: 85%;
            left: 40%;
            font-size: 16px;
        }
    }

    // ---- INDEX SECCION 2 VENTAJAS Y RESERVA ----

    .ventajaServicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reservaIndex {
        top: 0px;
        padding-top: 50px;
    }

    // ---- INDEX SECCION 3 SERVICIOS ----

    .tratamientos {
        top: 0px;
    }

    .indexManos .overlay {

        p {
            margin-left: 30px;
            margin-right: 30px;
        }

        h3 {
            margin-top: 400px;
        }
    }

    .indexPies .overlay {

        p {
            margin-left: 30px;
            margin-right: 30px;
        }

        h3 {
            margin-top: 400px;
        }
    }

    // ---- INDEX SECCION 4 TESTIMONIOS Y ESTADISTICAS ----

    #indexSeccion4 {
        margin-top: 50px;
    }

    // ---- INDEX SECCION 5 NEGOCIO ----

    .ventajaGuru {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 25px;
    }

    .contenidoVentajas {
        padding-left: 0;
    }

    .divBotonUnete {
        margin-top: -25px;
    }

    // ---- PESTAÑA NEGOCIO GURU ----

    .tituloGuru {
        font-size: 35px;
        top: -500px;
    }

    .subtituloGuru {
        font-size: 18px;
        width: 120px;
    }

    .requisitosGuru {
        padding-right: 0;
        padding-left: 0;
        line-height: 30px;
    }

    .appFoto {
        display: none;
    }

    // ---- PESTAÑA CONTACTO ----

    .seccionMapa {
        padding-top: 50px;

        .mapa {
            height: 300px;
        }
    }
}